@model Site.Models.UserDetailsViewModel

<h2>Kullanıcı Detayları</h2>

<div>
    <label>Mail:</label> @Model.User.Email
</div>
<div>
    <label>Telefon Numarası:</label> @Model.User.TelefonNumarasi
</div>
<div>
    <label>Daire No:</label> @Model.User.DaireNo
</div>

<h2>Araclar</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kullanıcı</th>
            <th>Arac Kayit Tarihi</th>
            <th>Arac Plaka</th>
            <th>Arac Marka</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Araclar)
        {
            <tr>
                <td>@item.User.ToString()</td>
                <td>@item.Tarih.ToString("dd/MM/yyyy")</td>
                <td>@item.Plaka</td>
                <td>@item.Marka</td>
            </tr>
        }
    </tbody>
</table>
